name: Concurrency
on:
  push:
    paths:
      - ".github/workflows/concurrency.yml" # ワークフローファイルのみ
concurrency: ${{ github.workflow}}
jobs:
  sleep:
    runs-on: ubuntu-latest
    steps:
      - run: sleep 120
